.intelligence-container(id="int")
    .container.intelligence-body
        h1.title Intelligence with information that matters
        .intelligence-blocks
            .int-block.int-block-1
                h2 Site Surveys & Investigation
                .btns-block
                    .tag
                        | #tag-1
                    .tag
                        | #long-long-tag-2
            .int-block.int-block-2
                h2 Seismic Survey and Data Acquisition
                .btns-block
                    .tag
                        | #tag-1
                    .tag
                        | #long-long-tag-2
            .int-block.int-block-3
                h2 Seismic Survey and Data Acquisition
                .btns-block
                    .tag
                        | #tag-1
                    .tag
                        | #long-long-tag-2
            .int-block.int-block-4
                h2 Seismic Survey and Data Acquisition
                .btns-block
                    .tag
                        | #tag-1
                    .tag
                        | #long-long-tag-2
            .int-block.int-block-5
                h2 Сопровождение
                .btns-block
                    .tag
                        | #tag-1
                    .tag
                        | #long-long-tag-2
            .int-block.int-block-6
                h2 Сопровождение
                .btns-block
                    .tag
                        | #tag-1
                    .tag
                        | #long-long-tag-2
        .btn-box
            .btn.btn-light.btn--raised.btn--width View All Categories
