.on_footer-container(id="art")
    .container
        .flex
            .reg-center
                h1.title.white Register your company and grow your business
                .register-info
                    span Understand that growth for your business is and how o improve your succes rate. Show up in front of buyers at the right time with the right offering.
                    .btn.btn--mini.btn-dark.btn--raised.dark--text Register your company now