.suppliers-container(id="supp")
    .container
        h1.title Verified suppliers
    .slider-one
        .icon
            img(src="../../img/slider-1.png")
        .icon
            img(src="../../img/slider-2.png")
        .icon
            img(src="../../img/slider-3.png")
        .icon
            img(src="../../img/slider-4.png")
        .icon
            img(src="../../img/slider-5.png")
        .icon
            img(src="../../img/slider-6.png")
        .icon
            img(src="../../img/slider-7.png")
        .icon
            img(src="../../img/slider-1.png")
    .container
        .slider-two-box
            .testimonials
                svg(width='64', height='44', viewBox='0 0 64 44', fill='none', xmlns='http://www.w3.org/2000/svg')
                    path(fill-rule='evenodd', clip-rule='evenodd', d='M40.5333 0C36.6059 0 33.4221 3.20317 33.4221 7.15447V23.6098C33.4221 27.5611 36.6059 30.7642 40.5333 30.7642H52.812C52.7882 31.5248 52.524 32.2815 52.0133 32.9114L45.8626 40.4969C44.7259 41.8988 45.7174 44 47.5157 44H52.2477C53.3775 44 54.44 43.4598 55.1101 42.5448L62.6136 32.2993C63.5141 31.0698 63.9999 29.5826 63.9999 28.0553V23.6097L63.9999 23.6098V7.15447C63.9999 3.20317 60.8161 0 56.8888 0H40.5333Z', fill='#FFC519')
                    path(fill-rule='evenodd', clip-rule='evenodd', d='M7.1111 0C3.18375 0 0 3.20317 0 7.15447V23.6098C0 27.5611 3.18375 30.7642 7.1111 30.7642H19.3901C19.3662 31.5248 19.1021 32.2815 18.5914 32.9114L12.4407 40.4969C11.3039 41.8988 12.2954 44 14.0937 44H18.8258C19.9555 44 21.018 43.4598 21.6882 42.5448L29.1917 32.2993C30.0922 31.0698 30.578 29.5826 30.578 28.0553V23.6097L30.5777 23.6098V7.15447C30.5777 3.20317 27.394 0 23.4666 0H7.1111Z', fill='#FFC519')
                h1.big-title Testimonials
            .slider-two
                .item
                    p.fideback
                        | “Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. 
                        | Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar 
                        | sic tempor. Sociis natoque p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean 
                        | euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. 
                        | Proin sodales pulvinar sic tempor. Sociis natoque penatibus et magnis dis parturient montes, 
                        | nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, 
                        | sed rhoncus pronin...”
                    .autor-box
                        .name
                            | Nesterov Yehor
                        .adress
                            | General Director, Dannon
                .item
                    p.fideback
                        | “Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. 
                        | Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar 
                        | sic tempor. Sociis natoque p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean 
                        | euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. 
                        | Proin sodales pulvinar sic tempor. Sociis natoque penatibus et magnis dis parturient montes, 
                        | nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, 
                        | sed rhoncus pronin...”
                    .autor-box
                        .name
                            | Nesterov Yehor
                        .adress
                            | General Director, Dannon
                .item
                    p.fideback
                        | “Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. 
                        | Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar 
                        | sic tempor. Sociis natoque p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean 
                        | euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. 
                        | Proin sodales pulvinar sic tempor. Sociis natoque penatibus et magnis dis parturient montes, 
                        | nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, 
                        | sed rhoncus pronin...”
                    .autor-box
                        .name
                            | Nesterov Yehor
                        .adress
                            | General Director, Dannon
                .item
                    p.fideback
                        | “Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. 
                        | Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar 
                        | sic tempor. Sociis natoque p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean 
                        | euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. 
                        | Proin sodales pulvinar sic tempor. Sociis natoque penatibus et magnis dis parturient montes, 
                        | nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, 
                        | sed rhoncus pronin...”
                    .autor-box
                        .name
                            | Nesterov Yehor
                        .adress
                            | General Director, Dannon
                .item
                    p.fideback
                        | “Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. 
                        | Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar 
                        | sic tempor. Sociis natoque p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean 
                        | euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. 
                        | Proin sodales pulvinar sic tempor. Sociis natoque penatibus et magnis dis parturient montes, 
                        | nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, 
                        | sed rhoncus pronin...”
                    .autor-box
                        .name
                            | Nesterov Yehor
                        .adress
                            | General Director, Dannon